<% include ./partials/header %>
<div class='ui inverted vertical masthead center aligned segment container'>
    <h1 style='margin-top: 80px'>Welcome to CompCrawler!</h1>
</div>

<% include ./partials/footer %>
